<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add new movie!</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="creationForm" (ngSubmit)="createMovie()" action="post">
        <div class="form-group">

          <div data-test="create-title" class="form-group">
            <label for="movieTitle">Title</label>
            <input formControlName="title" class="form-control" id="" type="text">
          </div>

          <div data-test="create-image" class="form-group">
            <label for="image">Image</label>
            <input formControlName="image" class="form-control" type="text">
          </div>

          <div  data-test="create-rating" class="form-group">
            <label for="movieTitle">Rating</label>
            <input formControlName="rating" class="form-control" type="text">
          </div>

          <div  data-test="create-comment" class="form-group">
            <label for="movieTitle">Comment</label>
            <input formControlName="comment" class="form-control" type="text">
          </div>
          
        </div>
        <div class="modal-footer">
          <button data-test="create-button" type="submit" class="btn btn-outline-dark" (click)="modal.close('Save click')">Create</button>
        </div>
      </form>
    </div>
   
  </ng-template>
  
  <button class="btn btn-lg btn-outline-primary ml-auto" (click)="open(content)">Add</button>