<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="login-wrap p-4 p-md-5">
                <div class="icon d-flex align-items-center justify-content-center">
                    <span class="fa fa-user-o"></span>
                </div>
                <h3 class="text-white text-center mb-4">Create new account!</h3>
                <p class="alert alert-danger w-75 mx-auto" *ngIf="errorMessage">{{ errorMessage }}</p>
                <form [formGroup]="creationForm" (ngSubmit)="createAccount()" action="post">
                    <div class="form-group">
                        <input maxlength="25" formControlName="username" type="text" class="mx-auto form-control rounded-left w-75" placeholder="Username" required>
                    </div>
                    <div class="form-group">
                        <input maxlength="25" formControlName="email" type="email" class="mx-auto form-control rounded-left w-75" placeholder="Email" required>
                    </div>
                    <div class="form-group d-flex">
                        <input maxlength="25" formControlName="password" type="password" class="mx-auto form-control rounded-left w-75" placeholder="Password" required>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-outline-success rounded submit p-2 px-4">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>