<main role="main" class="container">
  <div class="my-3 p-3 bg-white rounded box-shadow">

    <div class="row border-bottom border-gray mb-0">
      <div class="col">
        <h3>Movies list</h3>
      </div>

      <div class="col align-items-right">
        <button data-test="movie-add" class="btn btn-success" style="margin-left: 72%;">Add</button>
        <button data-test="movie-sort" class="btn btn-primary" style="margin-left: 10px;">Sort</button>
      </div>
    </div>

    <div class="media text-muted pt-3" *ngFor="let movie of movies">
      <img data-test="movie-image" alt="image" class="mr-2 rounded">
      <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <div class="w-100">

          <div class="row">

            <div class="col text-dark">
              <label *ngIf="selectedMovie != movie"><b>{{movie.title}}</b></label>
              <div *ngIf="selectedMovie === movie">
                <input [(ngModel)]="movie.title" value="{{movie.title}}">
              </div>
            </div>


            <div class="col">
              <a *ngIf="selectedMovie != movie" data-test="movie-edit" class="ml-auto float-right p-3" style="margin-left: 75%;" (click)="selectMovie(movie)">Edit</a>
              <a *ngIf="selectedMovie === movie" data-test="movie-edit" class="ml-auto float-right p-3" style="margin-left: 75%;" (click)="selectMovie(movie)">Save</a>
              <a data-test="movie-remove" class="ml-auto float-right" (click)="removeMovie(movie)">Remove</a>
            </div>
          </div>

        </div>
        <label *ngIf="selectedMovie != movie">{{movie.rating}}</label>
        <div *ngIf="selectedMovie === movie">
          <input [(ngModel)]="movie.rating" value="{{movie.rating}}">
        </div>

        <div>
          <label *ngIf="selectedMovie != movie">{{movie.comment}}</label>
          <div *ngIf="selectedMovie === movie">
            <input [(ngModel)]="movie.comment" value="{{movie.comment}}">
          </div>
        </div>
      
      </div>
    </div>
  </div>
</main>
