backend/PersonalMovieListApi/bin/Debug/net5.0/appsettings.Development.json
backend/PersonalMovieListApi/bin/Debug/net5.0/appsettings.json
backend/PersonalMovieListApi/bin/Debug/net5.0/PersonalMovieListApi.deps.json
backend/PersonalMovieListApi/bin/Debug/net5.0/PersonalMovieListApi.pdb
backend/PersonalMovieListApi/bin/Debug/net5.0/PersonalMovieListApi.runtimeconfig.dev.json
backend/PersonalMovieListApi/bin/Debug/net5.0/PersonalMovieListApi.runtimeconfig.json
backend/PersonalMovieListApi/obj/Debug/net5.0/apphost.exe
backend/PersonalMovieListApi/obj/Debug/net5.0/PersonalMovieListApi.csproj.CopyComplete
backend/PersonalMovieListApi/obj/Debug/net5.0/PersonalMovieListApi.csproj.CoreCompileInputs.cache
backend/PersonalMovieListApi/obj/Debug/net5.0/PersonalMovieListApi.csproj.FileListAbsolute.txt
backend/PersonalMovieListApi/obj/Debug/net5.0/PersonalMovieListApi.dll
backend/PersonalMovieListApi/obj/Debug/net5.0/PersonalMovieListApi.genruntimeconfig.cache
backend/PersonalMovieListApi/obj/Debug/net5.0/PersonalMovieListApi.MvcApplicationPartsAssemblyInfo.cache
backend/PersonalMovieListApi/obj/Debug/net5.0/PersonalMovieListApi.MvcApplicationPartsAssemblyInfo.cs
backend/PersonalMovieListApi/obj/Debug/net5.0/PersonalMovieListApi.pdb
backend/PersonalMovieListApi/obj/Debug/net5.0/PersonalMovieListApi.RazorTargetAssemblyInfo.cache
backend/PersonalMovieListApi/obj/Debug/net5.0/ref/PersonalMovieListApi.dll
backend/PersonalMovieListApi/obj/Debug/net5.0/staticwebassets/PersonalMovieListApi.StaticWebAssets.Manifest.cache
backend/PersonalMovieListApi/obj/Debug/net5.0/staticwebassets/PersonalMovieListApi.StaticWebAssets.xml
backend/PersonalMovieListApi/bin/Debug/net5.0/ref/PersonalMovieListApi.dll
backend/PersonalMovieListApi/bin/Debug/net5.0/Microsoft.OpenApi.dll
backend/PersonalMovieListApi/bin/Debug/net5.0/PersonalMovieListApi.dll
backend/PersonalMovieListApi/bin/Debug/net5.0/PersonalMovieListApi.exe
backend/PersonalMovieListApi/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
backend/PersonalMovieListApi/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
backend/PersonalMovieListApi/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
