<main role="main" class="container">
  <div class="my-3 p-3 rounded box-shadow">

    <div class="row border-gray mb-0 justify-content-end">
      <div class="col">
        <h3 class="text-white">Movies list</h3>
      </div>

      <div class="col align-self-end align-items-right col align-items-end col-auto">
        <div data-test="movie-add" class="ml-auto">
          <movie-create-modal></movie-create-modal>
          <button data-test="movie-sort" type="button" class="btn btn-lg btn-success ml-3">Sort</button>
        </div>
      </div>
    </div>

    <p *ngIf="movies == null || movies.length == 0" class="text-white">No movies in the list. Add something!</p>

    <div class="list-group pt-3" *ngFor="let movie of movies">
      <a class="list-group-item list-group-item-action flex-column align-items-start pt-3 bg-dark">
        <div class="d-flex w-100 justify-content-between">
          <h5 data-test="movie-title" class="mb-1 text-white" *ngIf="selectedMovie != movie">{{movie.title}}</h5>
          <input class="form-control w-50" *ngIf="selectedMovie === movie" [(ngModel)]="movie.title" value="{{movie.title}}">

          <ngb-rating data-test="movie-rating" [(rate)]="movie.rating" [max]="5" [readonly]="selectedMovie != movie">
            <ng-template let-fill="fill" let-index="index">
              <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
            </ng-template>
          </ngb-rating>
        
        </div>
        <img data-test="movie-image" class="mb-1" alt="image">
        <br>
        <small data-test="movie-comment" class="text-white" *ngIf="selectedMovie != movie">{{movie.comment}}</small>
        <input class="form-control w-50" *ngIf="selectedMovie === movie" [(ngModel)]="movie.comment" value="{{movie.comment}}">
        <div class="ml-auto float-right">
          <button data-test="movie-edit" *ngIf="selectedMovie != movie" data-test="movie-remove" class="btn btn-outline-success ml-auto" (click)="selectMovie(movie)">Edit</button>
          <button data-test="movie-edit" type="submit" *ngIf="selectedMovie === movie" data-test="movie-remove" class="btn btn-outline-success ml-auto active" (click)="updateMovie(movie)">Save</button>
          <button data-test="movie-remove" class="btn btn-outline-danger ml-3" (click)="removeMovie(movie)">Remove</button>
        </div>
      </a>
    </div>
