.star {
    font-size: 1.5rem;
    color: #505050;
  }
  .filled {
    color: #F5F5F5;
  }
  .bad {
    color: #505050;
  }
  .filled.bad {
    color: #C8C8C8;
  }

.movie-image {
  max-width: 150px;
  max-height: 200px;
}

.down {
  margin-top: 30px;
}

.text-holder {
  word-wrap: break-word;
  max-width: 600px;
}

textarea {
  margin-top: 10px;
  min-height: 180px;
  min-width: 600px;
  resize: none;
}

.title-text {
  margin-bottom: 10px;
}