<nav data-test="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a data-test="logo" class="navbar-brand" [routerLink]="'/home'">Logo</a>

  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    &#9776;
  </button>

  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/home'" (click)="isMenuCollapsed = true">Home</a>
      </li>
      <li class="nav-item" *ngIf="getToken() == ''">
        <a data-test="login-button" class="nav-link" [routerLink]="'/login'" (click)="isMenuCollapsed = true">Login</a>
      </li>
      <li class="nav-item" *ngIf="getToken() == ''">
        <a data-test="register-button" class="nav-link" [routerLink]="'/register'" (click)="isMenuCollapsed = true">Register</a>
      </li>
      <li *ngIf="getToken() != ''" class="nav-item">
        <a data-test="logout-button" class="nav-link" (click)="logOut()">Log out</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>